
#
#  BOILERPLATE NESMAKER GITIGNORE FILR
#

*

!README.md

!.gitignore

!ExtAssets
!ExtAssets/*
ExtAssets/untracked

!Emulator
!Emulator/game.nes

!Projects
!Projects/BO4.MST
!Projects/BO4.MST.[0-9]

!GraphicAssets
!GraphicAssets/BO4
!GraphicAssets/BO4/*

!GameEngineData
!GameEngineData/Routines
!GameEngineData/Routines/BO4
!GameEngineData/Routines/BO4/*
