#
#  BOILERPLATE NESMAKER GITIGNORE FILE
#

*

!README.md

!.gitignore

!ExtAssets
!ExtAssets/**/*
ExtAssets/untracked
ExtAssets/sabre_ft_txt.py

!Emulator
!Emulator/game.nes

!Projects
!Projects/BO4.MST

!GraphicAssets
!GraphicAssets/BO4
!GraphicAssets/BO4/*

!GameEngineData
!GameEngineData/Routines
!GameEngineData/Routines/BO4
!GameEngineData/Routines/BO4/**/*
